
.DS_Store
decreasingRows/.ipynb_checkpoints/coordinatesDetector-checkpoint.ipynb
decreasingRows/.ipynb_checkpoints/decreaseRows-checkpoint.ipynb
decreasingRows/.ipynb_checkpoints/Untitled-checkpoint.ipynb
findingCorners/coordinates.xlsx
findingCorners/coordinates.xlsx
